<footer class="mt-auto body-footer">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col my-2">
        <a href="/">
          <img src="{{ '/assets/images/footer/logo.svg' | relative_url }}" class="body-footer-logo" alt="Saturday Morning Productions">
        </a>
      </div>
      <div class="col mx-3 body-footer-sitemap my-2">
        <div>
          <a href="https://nftb.saturdaymp.com/" rel="noopener noreferrer" target="_blank">Blog</a>
        </div>
        <div>
          <a href="/about" rel="noopener noreferrer">About</a>
        </div>
        <div>
          <a href="/contact" rel="noopener noreferrer">Contact</a>
        </div>
      </div>
      <div class="col body-footer-contact my-2">
        <div class="body-footer-social-media">
          <div class="body-footer-social-media-icon">
            <a href="https://nftb.saturdaymp.com" target="_blank">
              <img src="{{ '/assets/images/footer/nftb.svg' | relative_url }}" class="img-fluid" alt="Blog">
            </a>
          </div>
          <div class="body-footer-social-media-icon">
            <a href="https://www.youtube.com/@saturdaymp" target="_blank">
              <img src="{{ '/assets/images/footer/youtube.svg' | relative_url }}" class="img-fluid" alt="YouTube">
            </a>
          </div>
          <div class="body-footer-social-media-icon">
            <a href="https://www.linkedin.com/company/saturdaymp" target="_blank">
              <img src="{{ '/assets/images/footer/linkedin.svg' | relative_url }}" class="img-fluid" alt="LinkedIn">
            </a>
          </div>
          <div class="body-footer-social-media-icon">
            <a href="https://github.com/saturdaymp" target="_blank">
              <img src="{{ '/assets/images/footer/github.svg' | relative_url }}" class="img-fluid" alt="GitHub">
            </a>
          </div>
          <div class="body-footer-social-media-icon">
            <a href="https://www.facebook.com/saturdaymp" target="_blank">
              <img src="{{ '/assets/images/footer/facebook.svg' | relative_url }}" class="img-fluid" alt="Facebook">
            </a>
          </div>
          <div class="body-footer-social-media-icon">
            <a href="https://hachyderm.io/@chrisc" target="_blank">
              <img src="{{ '/assets/images/footer/mastodon.svg' | relative_url }}" class="img-fluid" alt="Mastodon">
            </a>
          </div>
        </div>
        <div class="my-2">
          <div>
            <a href="mailto:info@saturdaymp.com">info@saturdaymp.com</a>
          </div>
          <div>
            <a href="tel:+1-780-886-3406">780.886.3406</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
