// Set the header logo to scroll away.
.body-header-logo {
  position: absolute;
  left: 10px;
  top: 2px;
  z-index: 9998 !important;
  width: 340px;
}

// Navigation styling
.navbar-nav .nav-link {
  padding-left: 1rem;
  padding-right: 1rem;
  font-weight: 500;
  color: #555555;

  &:hover {
    color: #007399;
  }

  &.active {
    color: #007399;
    font-weight: 600;
  }
}

.navbar-brand {
  font-weight: 600;
  color: #007399;

  &:hover {
    color: #005570;
  }
}
