.home-jumbotron {
  margin-bottom: 0;
}

.home-jumbotron-image {
  padding: 0;
  text-align: center;
  background-color: #AEBFC9;
}

.home-tagline {
  background-color: #0099CC;
  color: #F7F7F7;
  text-align: center;
  padding-top: 32px;
  padding-bottom: 32px;
}

.home-tagline .container {
  margin-bottom: 30px;
}

.home-boxes {
  margin-bottom: 35px;
}

.home-card {
  width: 280px;
  color: #F7F7F7;
  margin-top: 20px;
  margin-bottom: 20px;
}

.home-card p {
  font-size: 22px;
  font-weight: normal;
}
