.contact-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 350px;
    background-color: #AEBFC9;
}

.contact-summary-section {
    background-color: #0098cd;
}

.contact-summary {
    color: #FFFFFF;
    text-align: center;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;
}

.contact-feedback-paragraph {
    color: #555555;
    font-weight: 550;
}

.contact-email-link {
    color: #FFFFFF;
    padding-left: 20px;
    margin-bottom: 20px;
}

.contact-email-link:hover {
    color: #FFFFFF;
}

.contact-business-hours-sub-text {
    color: #737373;
    text-align: center;
}

.contactus-header {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
}

.contact-business-hours-header {
    text-align: center;
    margin-top: 25px;
    color: #0098cd;
}

.contact-feedback-header {
    color: #555555;
    font-weight: 600;
}

.contact-email-box-header {
    color: #FFFFFF;
    padding-top: 20px;
}

.contact-btns {
    text-align: center;
}

.contact-btn {
    margin-right: 50px;
    margin-bottom: 50px;
    min-width: 300px;
}

.contact-email-box {
    background-color: #737373;
    padding-left: 20px;
}

.contact-main-section {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.contact-business-hours {
    margin-top: 25px;
    margin-bottom: 30px;
}

.contact-feedback-row {
    margin-bottom: 35px;
}